<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="com.aurelia.loaning" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application android:allowBackup="true"
        android:icon="@drawable/icon_overview_list"
        android:theme="@style/Sherlock.__Theme.DarkActionBar"
        android:label="@string/app_name"
        android:debuggable="true">

        <activity android:label="@string/app_name"
            android:name="com.aurelia.loaning.view.loansoverview.StandardLoansOverviewActivity"
            android:icon="@drawable/icon_cash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".view.AddLoanActivity"
                  android:icon="@drawable/icon_add"/>
        
        <activity android:name=".view.EditLoanActivity"
                  android:icon="@drawable/icon_edit"/>
        
                <activity android:name="com.aurelia.loaning.view.CopyLoanActivity"
                  android:icon="@drawable/icon_copy"/>
         
        <activity android:name=".view.LoanFormActivity"
                  android:icon="@drawable/icon_add"/>
        
        <activity android:name=".view.DisplayDetailActivity"
                  android:icon="@drawable/icon_filter"/>
        
        <activity android:name=".view.loansoverview.FilteredLoansOverviewActivity"
                  android:icon="@drawable/icon_filter"/>
        
        <activity android:name=".view.loansoverview.Filtered"
                  android:icon="@drawable/icon_filter"/>
        
        <activity android:name=".view.loansoverview.LoansHistoryActivity"
                  android:icon="@drawable/icon_history"/>
        
        <service android:name=".service.LoanFetcher"/>
        
        <service android:name=".service.LoanSaver"/>
        
        <service android:name=".service.LoanRemover"/>
        
        <service android:name=".service.notification.NotificationService"/>
        
        <receiver android:name=".service.notification.NotificationChecker"> 
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
    </application>
    
</manifest>
