<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="com.aurelia.loaning" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <application android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
		android:label=""
        android:theme="@style/Sherlock.__Theme.DarkActionBar"
        android:debuggable="true">
        <!--         android:label="@string/app_name" -->
        <activity android:label="@string/app_name"
            android:name="com.aurelia.loaning.view.loansoverview.StandardLoansOverviewActivity"
            android:icon="@drawable/icon_overview_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".view.AddLoanActivity"
                  android:icon="@drawable/icon_add"/>
        
        <activity android:name=".view.EditLoanActivity"
                  android:icon="@drawable/icon_add"/>
         
        <activity android:name=".view.LoanFormActivity"
                  android:icon="@drawable/icon_add"/>
        
        <activity android:name=".view.DisplayDetailActivity"
                  android:icon="@drawable/icon_overview_list"/>
        
        <activity android:name=".view.loansoverview.FilteredLoansOverviewActivity"
                  android:icon="@drawable/icon_overview_list"/>
        
        <activity android:name=".view.loansoverview.LoansHistoryActivity"
                  android:icon="@drawable/icon_history"/>
        
        <service android:name=".service.LoanFetcher"/>
        
        <service android:name=".service.LoanSaver"/>
        
        <service android:name=".service.LoanRemover"/>
    </application>
</manifest>
